@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    font-family: 'Alata', sans-serif;
}

html, body, #root{
    height: 100%;
}

#root{
    width: 100%;
}

.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block{
    background-color: #000;
    padding-top: 20rem;
    width: 25%;
}

.option-btn{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.btn{
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-size: 1rem;
    background-color: #007FFF;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.btn:hover{
    background-color: #0571de;
    border: 1px solid rgb(70, 66, 66)
}